@CHARSET "UTF-8";

/* Header ModificaÃ§Ãµes */


header {
	
}

.wrapper {
	margin: auto;
	float: none;
}

.shadow-header {
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

li {
	hover: black;
}

ol, ul {
	list-style: none;
}

<!-- dropdown do header -->

.glyphicon{
	margin-right: 8px;
}

.dropdown.open .glyphicon-chevron-down{
	transform: rotate(180deg);
}

.dropdown .glyphicon {
    font-size: 12px;
}

.glyphicon-chevron-down{
    transition: linear transform 0.2s;
}
.dropdown-menu>li>a{
	text-align: right;
}
/*
.navbar-nav>li>.btn-login-header{
    border: 1px solid #4B9BBD;
    border-radius: 10%;
    padding-top: 6px;
    margin-top: 8px;
    padding-bottom: 6px;
}*/