@CHARSET "ISO-8859-1";

/* Header Modificações */


header {
	
}

.wrapper {
	margin: auto;
	float: none;
}

.shadow-header {
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

li {
	hover: black;
}

ol, ul {
	list-style: none;
}

